* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background: #FDF9F6FF; /*#faf7f8;*/
  color: #5f4a52;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.hero {
  margin-bottom: 2rem;
}

h1 {
  font-weight: 500;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 3rem;
  font-weight: 500;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  max-width: 720px;
  margin: 0.5rem auto 1.5rem;
}

.button {
  display: inline-block;
  background: #a98795;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
}

.image img {
  max-width: 100%;
  height: auto;
 /* margin: 2rem 0;*/
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  text-align: left;
  margin-top: 1.5rem;
}

.grid ul {
  background: #f0e6ea;
  padding: 1rem 1.2rem;
  border-radius: 6px;
  margin: 0;
}

footer {
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
}

